Repository development-images/ubuntu: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-base, build-python, build-ansible

build-base:
  image: docker:latest
  stage: build-base
  services:
  - docker:dind
  before_script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" "$CI_REGISTRY"
  variables:
    DOCKER_PATH: ./base/
    IMAGE_TAG: ${CI_REGISTRY_IMAGE}/base
  script:
  ...

build-python:
  image: docker:latest
  stage: build
  services:
  - docker:dind
  before_script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" "$CI_REGISTRY"
  variables:
    DOCKER_PATH: ./python/
    IMAGE_TAG: ${CI_REGISTRY_IMAGE}/python
  script:
  ...

build-ansible:
  image: docker:latest
  stage: build
  services:
  - docker:dind
  before_script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" "$CI_REGISTRY"
  variables:
    DOCKER_PATH: ./ansible/
    IMAGE_TAG: ${CI_REGISTRY_IMAGE}/ansible
  script:
  ...

add puppet container
  .gitlab-ci.yml
  puppet/Dockerfile
Due: none

add ruby-dev to container
  puppet/Dockerfile
Due: none

switch puppet tools release
  puppet/Dockerfile
Due: none

change puppet release back to focal due to puppetserver package missing
  puppet/Dockerfile
Due: none

add ssh config to base image and install ssh client
  base/.ssh/config
  base/Dockerfile
Due: build-base, build-python, build-ansible

disable puppet analytics for Puppet container
  puppet/Dockerfile
  puppet/pdk_analytics.yml
Due: none

fix file permissions
  base/Dockerfile
Due: build-base, build-python, build-ansible

fix broken chown command
  base/Dockerfile
Due: build-base, build-python, build-ansible

update python dev container files
  python/Dockerfile
Due: build-python

create /home/vscode/.puppetlabs/etc/puppet for puppet container
  puppet/Dockerfile
Due: none

fix ssh config file permissions
  base/Dockerfile
Due: build-base, build-python, build-ansible

add django dockerfile
  django/Dockerfile
Due: none

add django gitlab ci
  .gitlab-ci.yml
Due: none

fix missing conda in $PATH for Python image
  python/.zshrc
Due: build-python

update CI
  .gitlab-ci.yml
Due: none

enable conda pypy repository in python image
  python/Dockerfile
Due: build-python

fix zshrc permissions issues
  ansible/Dockerfile
  python/Dockerfile
Due: build-python, build-ansible

fix gitlab ci
  .gitlab-ci.yml
Due: none

update gitlab CI to inherit values
  .gitlab-ci.yml
Due: none

update dockerfiles to use release variable and change zsh theme
  ansible/.zshrc
  ansible/Dockerfile
  base/.zshrc
  base/Dockerfile
  django/Dockerfile
  puppet/Dockerfile
  python/.zshrc
  python/Dockerfile
Due: build-base, build-python, build-ansible

add stages
  .gitlab-ci.yml
Due: none

fix CI inheritence
  .gitlab-ci.yml
Due: none

add missing dockerfile args
  ansible/Dockerfile
  base/Dockerfile
  django/Dockerfile
  puppet/Dockerfile
  python/Dockerfile
Due: build-base, build-python, build-ansible

fix dockerfile errors
  ansible/Dockerfile
  base/Dockerfile
Due: build-base, build-python, build-ansible

update ansible env var
  ansible/Dockerfile
Due: build-ansible

fix typo
  .gitlab-ci.yml
Due: none

split gitlab CI into multiple files
  .gitlab-ci.yml
  .gitlab-ci/ansible.yml
  .gitlab-ci/base.yml
  .gitlab-ci/django.yml
  .gitlab-ci/puppet.yml
  .gitlab-ci/python.yml
Due: none

another attempt at fixing ansible locales
  ansible/Dockerfile
Due: build-ansible

remove trailing spaces from apt command
  django/Dockerfile
Due: none

fix duplicate run command for ansible build
  ansible/Dockerfile
Due: build-ansible

add latest tag to each container build steps to always get latest dist
  .gitlab-ci/ansible.yml
  .gitlab-ci/base.yml
  .gitlab-ci/django.yml
  .gitlab-ci/puppet.yml
  .gitlab-ci/python.yml
Due: none

fix broken build arg
  .gitlab-ci.yml
  ansible/Dockerfile
  base/Dockerfile
  django/Dockerfile
  puppet/Dockerfile
  python/Dockerfile
Due: build-base, build-python, build-ansible

update gitlab CI rule
  .gitlab-ci.yml
Due: none

add sample dev container file for python
  python/.devcontainer/README.md
  python/.devcontainer/devcontainer.json
  python/.devcontainer/docker-compose.yaml
  python/.devcontainer/docker/Dockerfile
Due: none

undo rules changes
  .gitlab-ci.yml
Due: none

update sample container for Python
  python/.devcontainer/devcontainer.json
  python/.devcontainer/docker-compose.yaml
Due: none

add mypy to python image
  python/Dockerfile
Due: build-python

update readme
  README.md
Due: none

update python dev container config to add missing script
  python/.devcontainer/docker/Dockerfile
  python/.devcontainer/docker/scripts/create.sh
Due: none

add semgrep to python container
  python/Dockerfile
Due: build-python

Path conditions:
  build-base: any of: base/**
  build-python: any of: base/**, python/**
  build-ansible: any of: base/**, ansible/**
